<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <ros2_control name="RealRobot" type="system">
        <hardware>
            <plugin>diffdrive_arduino/DiffDriveArduinoHardware</plugin>
            <param name="front_left_wheel_name">drivewhl_lf_joint</param>
            <param name="front_right_wheel_name">drivewhl_rf_joint</param>
            <param name="back_left_wheel_name">drivewhl_lb_joint</param>
            <param name="back_right_wheel_name">drivewhl_rb_joint</param>
            <param name="loop_rate">30</param>
            <param name="device">/dev/ttyACM1</param>
            <param name="baud_rate">115200</param>
            <param name="timeout_ms">1000</param>
            <param name="enc_counts_per_rev">3436</param>
        </hardware>

        <!-- <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware> -->

        <joint name="drivewhl_lf_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="drivewhl_rf_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="drivewhl_lb_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="drivewhl_rb_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find my_bot)/config/my_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>